.card__modal {
    height: 200px;
    overflow-y: hidden;
}

.card__modal-text {
    padding: 25px 20px 5px 0;
}

@media (max-width: 600px) {
    .card__modal {
        height: 150px;
    }
    .card__modal-title {
        font-size: 13px;
    }

    .card__modal-text {
        font-size: 12px;
    }

    .card__modal-text button {
        font-size: 10px;
    }
}